@import "../../styles/variables.css";

.projectsSection {
  padding: var(--space-xl) var(--space-md);
  background-color: var(--color-background-body);
  color: var(--color-text-base);
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-xl);
  margin-top: var(--space-xl);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.projectCard {
  background-color: var(--color-background-component);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--box-shadow-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition-base);
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-lg);
}

.projectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projectContent {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--space-sm);
}

.projectTitle {
  font-size: var(--fs-500);
  color: var(--color-primary-dark);
  margin: 0;
}

.projectLinks {
  display: flex;
  gap: var(--space-sm);
}

.iconLink {
  color: var(--color-text-light);
  font-size: 1.2rem;
  transition: var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLink:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}

.descriptionContainer {
  margin-bottom: var(--space-md);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectDescription {
  font-size: var(--fs-400);
  color: var(--color-text-base);
  line-height: var(--line-height-body);
  margin-bottom: var(--space-xs);
  
  /* Line clamping */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.learnMoreButton {
  background: none;
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  font-size: var(--fs-300);
  margin-top: var(--space-xs);
  transition: var(--transition-base);
}

.learnMoreButton:hover {
  text-decoration: underline;
  color: var(--color-primary-dark);
}

.projectSkills {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-top: auto;
  align-items: center;
}

.moreSkills {
  font-size: var(--fs-300);
  color: var(--color-text-light);
  font-weight: 500;
  padding-left: var(--space-xs);
}

@media (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
