.contactSection {
  padding: 4rem 1rem;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5em;
  color: #007bff;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 30px;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form input,
.form textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.form textarea {
  min-height: 150px;
  resize: vertical;
}

.form button {
  height: 60px;
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s ease;
}

.form button:hover {
  background-color: #0056b3;
}

.validationError {
  color: red;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
}

.successMessage {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #2e7d32;
  padding: 2rem;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.8rem;
  }

  .form input,
  .form textarea {
    font-size: 0.9em; /* Make text fields slightly smaller */
  }
}

