@import "../../styles/variables.css";

.contactSection {
  padding: var(--space-xxl) var(--space-md);
  text-align: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form label {
  margin-bottom: var(--space-sm);
  font-weight: bold;
  color: var(--color-text-base);
}

.form input,
.form textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.form textarea {
  min-height: 150px;
  resize: vertical;
}

.submitButton {
  height: 60px;
  border-radius: var(--border-radius-lg);
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-base);
  box-shadow: var(--box-shadow-sm);
}

.submitButton:hover {
  background-color: var(--color-primary-dark);
  box-shadow: var(--box-shadow-md);
  transform: translateY(-2px);
}

.validationError {
  color: var(--color-error);
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
}

.successMessage {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-success);
  padding: 2rem;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.8rem;
  }

  .form input,
  .form textarea {
    font-size: 0.9em; /* Make text fields slightly smaller */
  }
}