@import "./variables.css";

/*
 * [x] sectionTitle
 * [ ] text
 * [ ] text strong
 * [ ] sectionContainer
 * [ ] subsection
 * [ ] subsectionTitle
 */

.sectionTitle {
  font-size: clamp(var(--fs-600), calc(5vw + 1rem), var(--fs-800));
  color: var(--color-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  padding-bottom: var(--space-xl);
  padding-top: var(--space-xl);
  line-height: var(--line-height-heading);
}
