.languageToggle {
  background: none;
  border: 1px solid var(--color-border);
  cursor: pointer;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-md);
  color: var(--color-text-base);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  transition: var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageToggle:hover {
  background-color: var(--color-background-body);
  border-color: var(--color-primary);
  color: var(--color-primary);
}
